body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
}

/* Logo colors */
.SfeirLogo.white {
  background-color: white;
}

.SfeirLogo.white span.bracket, .SfeirLogo.white .center span {
  color: #e94e00;
}

.SfeirLogo.white span.letters {
  color: #1c1b20;
}

.SfeirLogo.black {
  background-color: black;
}

.SfeirLogo.black span.bracket, .SfeirLogo.black .center span {
  color: #e94e00;
}

.SfeirLogo.black span.letters {
  color: white;
}

/* Scalable logo base */
@font-face { 
  font-family: 'Andale';
  src: url('AndaleMono.ttf');
}  

@font-face { 
  font-family: 'Dax';
  src: url('DaxBold.ttf');
}  

.SfeirLogo {
  display: inline-table;
  font-family: 'Andale';
  line-height: 1.1em;
  cursor: default;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
  
.SfeirLogo div {
  display: table-cell;
}

.SfeirLogo, .SfeirLogo div, .SfeirLogo span {
  position: relative;
}

.SfeirLogo span.bracket, .SfeirLogo .center span {
  font-family: 'Dax';
  top: 0.1em;
}

.SfeirLogo span.bracket {
  font-size: 0.7em;
}

.SfeirLogo .center span {
  width: 0.5em;
  overflow: hidden;
  font-weight: lighter;
  font-size: 0.8em;
  text-indent: -0.2em;
}

.SfeirLogo span.letters {
  font-weight: bolder;
  width: 0.84em;
}

.SfeirLogo .left span.letters {
  letter-spacing: -0.2em;
  text-indent: -0.2em;
}

.SfeirLogo .right span.letters {
  letter-spacing: -0.3em;
  text-indent: -0.25em;
}

/********** With expand animation **********/
.SfeirLogo.ExpandAnim .left, .SfeirLogo.ExpandAnim .right {
  width: 1.15em;
}

.SfeirLogo.ExpandAnim, .SfeirLogo.ExpandAnim span {
  transition: max-width 1s;
  -o-transition: max-width 1s;
  -moz-transition: max-width 1s;
  -webkit-transition: max-width 1s;
  transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}

.SfeirLogo span {
  float: left;
}

.SfeirLogo .left span {
  float: right;
}
  
.SfeirLogo .right span {
  float: left;
}
  
.SfeirLogo.ExpandAnim span.letters {
  max-width: 0;
  overflow: hidden;
}  

.SfeirLogo.ExpandAnim:hover span.letters {
  max-width: 100%;
}

/********** With heart animation **********/
.SfeirLogo.HeartAnim .center span {
  animation: battery 900ms infinite linear;
  -o-animation: battery 900ms infinite linear;
  -moz-animation: battery 900ms infinite linear;
  -webkit-animation: battery 900ms infinite linear;
}

.SfeirLogo.HeartAnim:hover .center span {
  animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes battery {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.15); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.09); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

@-o-keyframes battery {
  0% { -o-transform: scale(1); }
  30% { -o-transform: scale(1); }
  40% { -o-transform: scale(1.15); }
  50% { -o-transform: scale(1); }
  60% { -o-transform: scale(1); }
  70% { -o-transform: scale(1.09); }
  80% { -o-transform: scale(1); }
  100% { -o-transform: scale(1); }
}

@-moz-keyframes battery {
  0% { -moz-transform: scale(1); }
  30% { -moz-transform: scale(1); }
  40% { -moz-transform: scale(1.15); }
  50% { -moz-transform: scale(1); }
  60% { -moz-transform: scale(1); }
  70% { -moz-transform: scale(1.09); }
  80% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(1); }
}

@-webkit-keyframes battery {
  0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.15); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.09); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}